

  <div class="hero-unit">
    <div class="container">
        <h1>Welcome User</h1>
        <p class="lead">Please update your profile.</p>
        <%@user_details.each do |ud|%> 
          
        <%end%>

        <p><a href="#" class="btn btn-success btn-large">Submit</a></p>
    </div>
  </div>